{% autoescape false %}
<div class="tabs">
    <ul>
        <li><a href="#tab-chart{{ index }}-image">image</a></li>
        <li><a href="#tab-chart{{ index }}-url">url</a></li>
        <li><a href="#tab-chart{{ index }}-data">data</a></li>
        <li><a href="#tab-chart{{ index }}-options">options</a></li>
    </ul>
    <div id="tab-chart{{ index }}-image">{{ chart.render }}</div>
    <div id="tab-chart{{ index }}-url"><pre>{{ chart.debugUrl|nice_dump }}</pre></div>
    <div id="tab-chart{{ index }}-data"><pre>{{ chart.data|print_r }}</pre></div>
    <div id="tab-chart{{ index }}-options"><pre>{{ chart.options|print_r }}</pre></div>
</div>
{% endautoescape %}